<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>four_choice_question</title>
    <link rel="stylesheet" type="text/css" href="../static/css/four_choice_question.css">
</head>
<body>
<section id="vertical_tab_nav">
    <ul id="vertical_tab">
        <li><span>ユーザー情報</span></li>
        <li><span>問題について</span></li>
        <li><span>1問</span></li>
        <li><span>2問</span></li>
        <li><span>3問</span></li>
        <li><span>4問</span></li>
        <li><span>5問</span></li>
        <li><span>6問</span></li>
        <li><span>7問</span></li>
        <li><span>8問</span></li>
        <li><span>9問</span></li>
        <li><span>10問</span></li>
        <li><span>11問</span></li>
        <li><span>12問</span></li>
        <li><span>13問</span></li>
        <li><span>14問</span></li>
        <li><span>15問</span></li>
        <li><span>16問</span></li>
        <li><span>17問</span></li>
        <li><span>18問</span></li>
        <li><span>19問</span></li>
        <li><span>20問</span></li>
        <li><span>終了</span></li>
    </ul>
    <div>
        <article>
            <h2>ユーザー情報</h2>
            <br>
            <span id="userAttributes">
                <label>名　前:</label><input type="text">
                <br>
                <label>部署名:</label><input type="text">
                <br>
                <p>★<span class="bold-red">名前</span>と<span class="bold-red">部署名</span>を入力してください。無記入の場合は<span class="bold-red">0点</span>です。</p>
            </span>
        </article>
        <article>
            <h2>問題について</h2>
            <br>
            <ul>
                <li>プライバシーマークのマークテストです。</li>
                <li>4択問題です。問題文を読み適切なものを選択してください。</li>
                <li><span class="bold-red">17問以上正解</span>で合格です。不合格の場合は<span class="bold-red">再試験</span>です。</li>
                <li><span class="bold-red">ユーザー情報</span>と<span class="bold-red">問題について</span>と<span class="bold-red">終了</span>ページの文字はベタ書きです。文章の修正が必要な場合は、
                    HTMLの書き換えが必要です。もし後で自由に文章を変更できるようにする想定の場合修正が必要なので連絡してください。</li>
            </ul>
        </article>
        <article>
            <h2>1問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>2問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>3問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>4問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>5問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>6問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>7問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>8問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>9問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>10問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>11問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>12問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>13問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>14問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>15問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>16問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>17問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>18問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>19問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>20問</h2>
            <p></p>
            <ul></ul>
        </article>
        <article>
            <h2>最後の確認</h2>
            <br>
            <ul>
                <li>採点前に回答状態を確認できます。</li>
                <li><span class="bold-red">17問以上正解</span>で合格です。不合格の場合は<span class="bold-red">再試験</span>です。</li>
                <li><span class="bold-red">回答状態確認欄は考え中</span></li>
            </ul>
            <span id="answerTable"></span>
            <button type="button" id="scoringButton">採点</button>
        </article>
    </div>
</section>
<script src="../static/js/four_choice_question.js"></script>
</body>
</html>